.rcrd-logo {
  max-width: 50px;
  margin-right: 1rem;
}

@media (max-width: 576px) {
  .navbar-brand {
    margin: 0;
  }
  .navbar-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem 0;
    padding: 0.5rem 0;
  }
}

.card {
  transition: background-color 0.25s ease;
}

.card:hover {
  background-color: rgba(rgba(var(--bs-secondary-bg-rgb), 0.5));
}
